<h1>Crear nuevo género</h1>

<form method="POST" action="/genres/create">
  <div class="mb-3">
    <label class="form-label">Nombre del género</label>
    <input type="text" name="name" class="form-control" required>
  </div>
  <a href="/genres" class="btn btn-secondary">Volver</a>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>
