<h1 class="mb-4">{{serie.name}}</h1>

<div class="ratio ratio-16x9 mb-4">
  <iframe src="{{serie.video}}" title="Video de {{serie.name}}" allowfullscreen></iframe>
</div>

<p><strong>Género:</strong> {{serie.genre}}</p>
<a href="/" class="btn btn-secondary">Volver al Home</a>
